<div class="forgot">
    <form [formGroup]="ForgotForm">
        <legend><b>Forgot Password?</b></legend><br>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjOoy_N-C4eJpOb4yLUAoWxzryuvDp8NBFBDpC-NK8Lw&usqp=CAU&ec=48665701">
       <br> <p>Please enter your registered email</p>
        <input type="text" placeholder="enter email id"  name="email" formControlName="email"><br><br>
        <button class="forgotb">Send resent Link</button>
        <div class="card-footer text-right">
            <small><a routerLink="../login">  Back to Login</a></small>
        </div>
    </form>

</div>