.forgot
{
background-color: rgb(217, 217, 217);
text-align:center;
padding-left: 50px;
margin-top:100px;
margin-left:600px;
margin-right:600px;
margin-bottom: 50px;
padding:50px;
align-items: center;
display: flex;

}
input.ng-invalid.ng-touched
  {
    border:red 1px solid;
  }
.forgotb{
    background-color: rgb(230, 38, 70);
    border-radius: 12px;
}
img{
    height: 90px;
    width:90px;
}