<div class="c">
<h2><b>Contact Information:</b></h2>
    <br>
    <img  class="main"src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSn5x0XY-WOhvEagM1Ftps4YUjySrT_St1WPCGeJ9a02Q&usqp=CAU&ec=48665701"><br>
  <b>Email:<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiXmNujTikt7LrT4N9VGe4dsJRCLtueVB_LJD-gbslPA&usqp=CAU&ec=48665701"></b>dreamytravellers@gmail.com <br>
    <b>Phone:<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRj6N_5-5Xx0hbL02aI43-8aqb1D4CIiS6RYVl2HcbpdQ&usqp=CAU&ec=48665701"></b> 9878653213 <br>
    <b>Address:<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxEnnT9od6OIgp5LrcvoRlAmaH94EM7Fg24qsv-fdWDQ&usqp=CAU&ec=48665701"></b> Gachibowli,Hyderabad,Telangana-500072><br>
<br>

<h4><b style="color:blueviolet">Feel free to contact</b></h4><br>
<h3 style="color:rgb(239, 79, 165)">Thanks for Choosing Us!</h3>
</div>
